<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--<add key="SP_SiteUrl" value="http://vh2-sp-01/bi/fhppp/iwn"/>-->
		<add key="SP_SiteUrl" value="http://or-spdv-svr-01/bi/fhppp/portal"/>
		<!--<add key="SP_SiteUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/interimckcc"/>-->
		
		<add key="SqlServer" value="VH2-SQL-01"/>
		<add key="Database" value="HealthCloud_NightlyProd"/>
		<add key="CensusDataView" value="IWH.Humana_CensusDataView"/>

		<add key="ShouldSendEmail" value="False"/>
		<add key="UCD" value="medspring"/>
		<add key="UCN" value="spAdmin"/>
		<add key="UCP" value="Xfw4E9fcis6nj5"/>
		<add key="AdminRootListName" value="AdminSiteData"/> <!--If Admin list name is change here, make sure change is also made on PracticeSiteTemplate project, page 'cePrac_AdminRootDataTable', method 'initRequest'-->
		<add key="PracticeJS" value="C:\Users\ssaleh\Downloads\Permissions\Permissions\PracticeSiteJS\Practice.js"/>
		<add key="ConfigURL" value="C:\Users\ssaleh\source\Workspaces\Workspace\Applications\PracticeSiteTemplate-branch\PracticeSiteTemplate\Config\"/>
	</appSettings>
</configuration>