<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="SP_SiteUrl" value="http://vh2-sp-01/bi/fhppp/iwn"/>-->
    <add key="SP_RootUrl" value="http://or-spdv-svr-01"/>
    <add key="SP_SiteUrl" value="http://or-spdv-svr-01/bi/fhppp/portal"/>
  </appSettings>
</configuration>