<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- SETTINGS FOR PORTAL PROD -->
    <!--<add key="SP_rootUrl" value="http://vh2-sp-01/"/>-->
    <!--<add key="SP_SiteUrl" value="http://vh2-sp-01/bi/fhppp/portal"/>-->
    
    <!-- SETTINGS FOR PORTAL DEV -->
    <add key="SP_RootUrl" value="http://or-spdv-svr-01"/>
    <add key="SP_SiteUrl" value="http://or-spdv-svr-01/bi/fhppp/portal"/>
    
    <!-- SETTINGS FOR IWN PROD -->
    <!--<add key="SP_rootUrl" value="http://vh2-sp-01/"/>-->
    <!--<add key="SP_SiteUrl" value="http://vh2-sp-01/bi/fhppp/iwn"/>-->

    <!-- SETTINGS FOR IWN DEV -->
    <!--<add key="SP_rootUrl" value="http://or-spdv-svr-01/"/>
    <add key="SP_siteUrl" value="http://or-spdv-svr-01/bi/fhppp/iwn/"/>-->
    
    <add key="Log_Dir" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\Logs"/>
    <add key="LogFile" value="PracticeSite-Maint_Log"/>
    
  </appSettings>
</configuration>