<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ProgPartSort" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <ProgPartSort>
    <add key="Payor Enrollment" value="10"/>
    <add key="CKCC/KCE Resources" value="20"/>
    <add key="Payor Program Education Resources" value="50"/>
    <add key="Patient Status Updates" value="40"/>
    <add key="CKCC/KCE Engagement" value="30"/>
  </ProgPartSort>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- SETTINGS FOR PORTAL PROD -->
    <!--REMINDER:  Update Credentials in SiteCredentialUtility.cs-->
    <!--<add key="SP_RootUrl" value="https://sharepoint.fmc-na-icg.com"/>
    <add key="SP_SiteUrl" value="https://sharepoint.fmc-na-icg.com/bi/fhppp/portal"/>
    <add key="SP_IWHUrl" value="https://sharepoint.fmc-na-icg.com/bi/fhppp/iwn"/>
    <add key="SP_CKCCUrl" value="https://sharepoint.fmc-na-icg.com/bi/fhppp/interimckcc"/>-->

    <!-- SETTINGS FOR PORTAL DEV -->
    <!--REMINDER:  Update Credentials in SiteCredentialUtility.cs-->
    <add key="SP_RootUrl" value="https://sharepointdev.fmc-na-icg.com"/>
    <add key="SP_SiteUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/portal"/>
    <add key="SP_IWHUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/iwn"/>
    <add key="SP_CKCCUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/interimckcc"/>

    <!-- SETTINGS FOR IWN PROD -->
    <!--<add key="SP_rootUrl" value="http://vh2-sp-01/"/>-->
    <!--<add key="SP_SiteUrl" value="http://vh2-sp-01/bi/fhppp/iwn"/>-->

    <!-- SETTINGS FOR IWN DEV -->
    <!--<add key="SP_rootUrl" value="https://sharepointdev.fmc-na-icg.com/"/>
    <add key="SP_siteUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/iwn/"/>-->

    <add key="Log_Dir" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\Logs"/>
    <!--<add key="Log_Dir" value="C:\Users\ssaleh\Logs"/>-->
    <add key="LogFile" value="PracticeSite-Maint_Log"/>
    <add key="Csv_Dir" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileIn"/>
    <add key="Csv_File" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileIn\PracticeList.csv"/>
    <add key="AdminRootListName" value="AdminSiteData"/>
    <!--If Admin list name is change here, make sure change is also made on PracticeSiteTemplate project, page 'cePrac_AdminRootDataTable', method 'initRequest'-->

    <add key="SqlServer" value="VH2-SQL-01"/>
    <add key="Database" value="HealthCloud_NightlyProd"/>
    <add key="ConfigURL" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\Config\"/>
    <add key="PracticeJS" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileOut\Practice.js"/>

  </appSettings>
</configuration>