<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    --><!-- SETTINGS FOR PORTAL PROD --><!--
    --><!--REMINDER:  Update Credentials in SiteCredentialUtility.cs--><!--
    --><!--<add key="SP_RootUrl" value="https://sharepoint.fmc-na-icg.com"/>
    <add key="SP_SiteUrl" value="https://sharepoint.fmc-na-icg.com/bi/fhppp/portal"/>--><!--

    --><!-- SETTINGS FOR PORTAL DEV --><!--
    --><!--REMINDER:  Update Credentials in SiteCredentialUtility.cs--><!--
    <add key="SP_RootUrl" value="https://sharepointdev.fmc-na-icg.com"/>
    <add key="SP_SiteUrl" value="https://sharepointdev.fmc-na-icg.com/bi/fhppp/portal"/>

    <add key="Log_Dir" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\Logs"/>
    --><!--<add key="Log_Dir" value="C:\Users\ssaleh\Logs"/>--><!--
    <add key="LogFile" value="PracticeSite-Maint_Log"/>
    <add key="Csv_Dir" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileIn"/>
    <add key="Csv_File" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileIn\PracticeList.csv"/>
    <add key="AdminRootListName" value="AdminSiteData"/>
    --><!--If Admin list name is change here, make sure change is also made on PracticeSiteTemplate project, page 'cePrac_AdminRootDataTable', method 'initRequest'--><!--

    <add key="SqlServer" value="VH2-SQL-01"/>
    <add key="Database" value="HealthCloud_NightlyProd"/>
    <add key="ConfigURL" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\Config\"/>
    <add key="PracticeJS" value="C:\Users\JEsquivel\OneDrive - Fresenius Medical Care\FileOut\Practice.js"/>

  </appSettings>-->
</configuration>